<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <h2>Forgot-Password</h2>
    <form action="/email/sendmail" method="POST">
        <div class="userbox">
            <input type="text" name="email" required="">
            <label>Email</label>
        </div>
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Send mail
            </button>
    </form>
    <a href="/">
        <button class="button_box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Back
        </button>
    </a>
</div>

