<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <div class="leftbox">
        <div class="heading">
            <h1>Reset Password..</h1>
        </div>  
    </div>
    <div class="rightbox">
        <form action="/email/sendmail" method="POST">
            <div class="userbox">
                <input type="text" name="email" required="">
                <label>Email</label>
            </div>
                <button class="button_box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Send mail
                </button>
        </form>
        <a href="/">
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Back
            </button>
        </a>
    </div>
</div>

