<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <div class="leftbox">
        <div class="heading">
            <h1>Welcome To Our Login Page authentication!</h1>
            <p>Hyy budy...</p>
        </div>
        
        <div class="image">
            <img src="/image/cute-little-boy-board_96037-455-removebg-preview (1).png" alt="">
        </div>
    </div>
    <div class="rightbox">
        <h2>Login</h2>
    <form action="/user/loginpage" method="POST">
        <div class="userbox">
            <input type="text" name="email" required="">
            <label >Email</label>
        </div>
        <div class="userbox">
            <input type="password" name="password"required="" >
            <label >Password</label>
        </div>
        <div class="button_container">
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
            <a href="/user/auth/google" class="google_icon"><i class="uil uil-google"></i></a>

        </div>
        
    </form>
    <div class="button_container">
        <a href="/singup">
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Signup
            </button>
        </a>
        <a href="/user/forgotpassword">
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Forgot password
            </button>
        </a>
    </div>
    </div>
    
</div>
