<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <div class="leftbox">
        <div class="heading">
            <h1>You have successfully logged in.</h1>
        </div>
        
    </div>
    <div class="rightbox">
        
    <div class="button_container">
        <a href="/user/singout">
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Signout
            </button>
        </a>
        <% if(locals.user){ %>
            <a href="/user/Resetpassword/<%= locals.user._id %>">
                <button class="button_box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Pass.Reset
                </button>
            </a>
        <% } %>
       
        
    </div>
    </div>
</div>