<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <h2>Reset Password</h2>
    <form action="/user/updatepassword/<%= user._id %>" method="POST">
        <div class="userbox">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <div class="userbox">
            <input type="password" name="conform_password" required="">
            <label>Conform-Password</label>
        </div>
        <button class="button_box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>

    </form>
    <% if(locals.user){ %>
        <a href="/user/profile"><button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Back
            </button></a>
        <% } else{ %>
            <a href="/"><button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Back
            </button></a>
        <% } %>
            


</div>