<link rel="stylesheet" href="/css/userlogin.css ">
<div class="loginbox">
    <div class="leftbox ">
        <div class="heading">
            <h1>Welcome to Our SignUP Page authentication!</h1>
            <p>Hyy budy...</p>
        </div>
        
        <div class="singupimage">
            <img src="/image/cute-little-boy-board_96037-455-removebg-preview (1).png" alt="">
        </div>
    </div>
    <div class="rightbox">
        <h2>Singup</h2>
        <form action="/email/emailverification" method="POST">
            <div class="userbox">
                <input type="text" name="username" required="">
                <label >Username</label>
            </div>
            <div class="userbox">
                <input type="text" name="email" required="">
                <label >Email</label>
            </div>
            <div class="userbox">
                <input type="password" name="password"required="" >
                <label >Password</label>
            </div>
            <div class="userbox">
                <input type="password" name="Conform_password"required="" >
                <label >Conform_password</label>
            </div>
            <button class="button_box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create Account
            </button>
            
        </form>
        <div class="button_container">
            <a href="/">
                <button class="button_box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Back
                </button>
            </a>
            <a href="/user/auth/google" class="google_icon"><i class="uil uil-google"></i></a>
        </div>
    </div>
    
</div>