<link rel="stylesheet" href="/css/mail.css">
<div class="container">
    <div class="alert">
        <h1>Hi This message for Reset password:-</h1>
        <h4>Email:- <%= user.email %></h4>
        <p>This link valid for <strong>2 min </strong>click for <strong>Reset Password</strong></p>
    </div>
    <p>
        <a href="http://localhost:8000/user/Resetpassword/<%= user.user%>">Click here for Reset Password</a>
    </p>
    <p>Thanks! Insert your regular email message here.</p>
</div>